body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #212529;
}

.navbar {
  margin-bottom: 2rem;
}

h1, h2, h3, h5 {
  font-weight: bold;
  text-align: center;
}

.list-group-item {
  font-size: 1.1rem;
}
