body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f0f2f5;
  color: #333;
}

.dark-mode {
  background-color: #121212;
  color: #f0f2f5;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #f0f2f5;
}

.navbar {
  margin-bottom: 2rem;
}